<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> {{eventName}}</title>
  <link rel="stylesheet" href="./style.css">
  <style>
    .root {
      display: flex;
      gap: 2rem;
    }
  </style>
</head>
<body>
  <div class="root">
    <div class="speakers-container">
      <div class="title">Speakers</div>
      <div class="speaker">
        <div class="speaker-name"></div>
        <div class="speaker-designation"></div>
      </div>
    </div>
    <div class="info-container">
      <div class="about-container">
        <div class="about-title">About the Session</div>
        <div class="about-desc">{{{aboutDesc}}}</div>
      </div>
    </div>
  </div>
</body>
</html>
